@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans bg-white;
}

.main {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  content: "";
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
}

main {
  @apply flex flex-col p-2 items-center justify-start sm:px-[25%] px-[5%];
}

.head_text {
  @apply sm:text-4xl text-3xl font-bold text-black;
}

.btn_primary {
  @apply btn btn-primary bg-transparent border-black text-sm sm:text-lg text-black capitalize sm:w-fit w-full rounded-md sm:rounded-full px-6 sm:px-8 hover:bg-black hover:text-white hover:border-none;
}

.btn_primary_filled {
  @apply btn btn-primary bg-black border-black text-white text-sm sm:text-lg capitalize sm:w-fit w-full rounded-md sm:rounded-full px-4 sm:px-8 hover:bg-white hover:text-black hover:border-black;
}

.secondary_text {
  @apply sm:text-2xl text-lg font-semibold text-black;
}
